.carousel-wrapper {
  width: 100%;
  height: calc(100vh - 180px); /* Ajusta la altura total, restando el tamaño del header y footer */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 300%;
  height: 100%;
}

.slide-image {
  width: 300%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .slide-image {
    height: auto;
  }
}
