.tablaqr {
  margin: 20px auto;
  width: 80%;
  max-width: 1200px;
  text-align: center; /* Asegura que el contenido esté centrado */
}

.tablaqr h2 {
  margin-bottom: 20px;
  text-align: center; /* Centra el encabezado */
}

.tablaqr table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f7c0c0;
  margin: 0 auto; /* Centra la tabla dentro del contenedor */
}

.tablaqr th, .tablaqr td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tablaqr th {
  background-color: #C3C3C6;
}

.tablaqr tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tablaqr tr:hover {
  background-color: #f1f1f1;
}

.qr-code-cell {
  width: 100px; /* Ajusta el ancho según sea necesario */
}
