/* Definiciones de variables */
:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-title: "Playfair Display", serif;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

/* Estilos para el HTML y el cuerpo */
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
  background-image: url("../images/ffuente.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilos para enlaces */
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}

/* Estilos para elementos de texto */
b, strong {
  font-weight: inherit;
  font-weight: bolder;
}

/* Estilos para encabezados */
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
  font-family: var(--font-title);
}

h1 > b {
  color: var(--color-primary);
}

/* Estilos para imágenes */
img {
  border-style: none;
  max-width: 100%;
}

/* Otras definiciones de estilo según sea necesario */

/* Estilos específicos para el pie de página */
footer {
  background-image: linear-gradient(to right, rgb(222, 208, 208), #6c673a);
  color: #6c673a;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer a {
  color: #363022;
  margin-right: 10px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-icons img {
  width: 24px;
  height: 24px;
}

/* Estilos para los botones */
.botones {
  background-image: url("../images/Fuente.jpg");
  text-align: center;
  padding: 10em;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.button {
  margin: 0;
  padding: 0.5em;
  border-radius: 8px;
  background-color: #a59a80!important;
  color: white;
  border: 3px solid #e6edf5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 5px #e6edf5;
  width: 250px;
  height: 50px;
  text-decoration: none;
}

.button:hover {
  background-color: #add8e6!important;
}

/* Estilos para la caja */
.layoute {
  background-color: #e6edf5;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.card {
  border: 1px solid black;
  background: linear-gradient(180deg, white, beige); 
}

/* Estilos para el carrusel */
.carousel {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

/* Estilos para los controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

/* Otras definiciones de estilo según sea necesario */

/* Media Queries */
@media screen and (mi-width: 400px) {
  .header {
    font-size: 1.2em;
  }

  .nav-menu {
    display: none;
  }

  footer {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .footer-left, .footer-right {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer-icons {
    justify-content: center;
    width: 100%;
  }

  .botones {
    flex-direction: column;
    padding: 2em;
  }

  .button {
    width: 300%;
    max-width: 300px;
  }

  .institutional-info {
    padding: 10px;
    font-size: 14px;
  }
}
